<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>TinyApp</title>
  </head>
  <body>
    <h1>URLs</h1>
    <ul>
    <% for (const url in shortId) { %>
      <li>
        <form method="POST" action="/urls/<%= url %>/delete">
          <p><%= url %> => <a href="<%= shortId[url] %>"><%= shortId[url] %></a> <a href="/urls/<%= url %>">edit</a> <button>Delete</button></p>
        </form>
      </li>
    <% } %>
    </ul>
    <a href="/urls/new">Make new link</a>
  </body>
</html>